.catalog {
    flex-grow: 1;
    margin-bottom: 40px; //потом убрать
}

.catalog__title {
    position: relative;

    padding-bottom: 15px;
    margin-bottom: 15px;

    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.3;

    &::after {
        content: '';

        position: absolute;
        bottom: 0;
        left: 0;

        width: 30px;
        height: 1px;

        background: #ccc;
    }
}

.catalog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.selection {
    font-family: inherit;
    opacity: .7;
    transition: .2s;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.catalog__search-product {
    max-width: 110px;
}

.catalog__main {
    display: grid;
}

.catalog__main_three-columns {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 380px;
    grid-column-gap: 40px;
    grid-row-gap: 100px;
}

.catalog__main_four-columns {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 380px;
    grid-column-gap: 20px;
    grid-row-gap: 80px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: .2s;
    border-radius: 2px;
    cursor: pointer;

    // &:hover {
    //     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    // }
}

.product__image {
    max-width: 100%;
    height: 65%;
    transition: .2s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product__title, .product__price {
    align-self: center;
    justify-self: center;
    text-align: center;
    line-height: 1.3;
}

.product__button {
    width: 100%;
    height: 13%;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border-radius: 2px;
    transition: .2s;
    
    &:hover {
        color: black;
        background-color: #ccc;
    }
}

.product__button_active {
    color: black;
    background-color: white;
    border: 1px solid black;

    &:disabled {
        cursor: default;
        opacity: .6;
    }

    &:hover {
        color: black;
        background-color: white;
    }
}