@import './null.css';

h1 {
  color: green;
  font-size: 36px;
  text-align: center;
  font-family: 'Singlet', 'Courier New';
}

.logo img {
  display: block;
  /* background: url('../assets/images/fromHtml/gorila.jpg'); */
  margin: 20px auto 0;
}
