.page-not-found {
    margin-top: 20vh;
    text-align: center;
    .page-not-found__code {
        margin-bottom: 15px;
        font-size: 3rem;
        font-weight: 700;
    }
    .page-not-found__description {
        text-transform: uppercase;
        font-size: 2rem;
    }
}